<div style="margin-bottom:10px" class="row">
  <div class="col-md-2 col-sm-offset-1">
    <input type="text" class="form-control" placeholder="Enter MOTS ID here" ng-model="ID">
  </div>
  <button type="submit" class="btn btn-primary" ng-click="getIDdetails()">Submit</button>
  <span ng-show="msg">{{msg}}</span>
</div>


<div class="container">
<div class="col-md-2 col-sm-offset-1">
<div class="panel panel-primary">
  <div class="panel-heading">MOTS ID</div>
  <div class="panel-body">
    {{MOTSID}}
  </div>
</div>
</div>



<div class="col-md-2 ">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Application name</h3>
  </div>
  <div class="panel-body">
    {{App}}
  </div>
</div></div>

<div class="col-md-2 ">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Initial</h3>
  </div>
  <div class="panel-body">
    <span ng-show="!isObjectEmpty(initial)"> {{initial}} </span> 
    <span ng-show="isObjectEmpty(initial)"> None </span> 
  </div>
</div></div>

<div class="col-md-2 ">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Reminder Mail</h3>
  </div>
  <div class="panel-body">
   <span ng-show="!isArrayEmpty(Reminder)"> {{Reminder}} </span>
   <span ng-show="isArrayEmpty(Reminder)"> None </span> 
  </div>
</div></div>

<div class="col-md-2 ">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Escalation</h3>
  </div>
  <div class="panel-body">
    <span ng-show="!isObjectEmpty(Escalation)"> {{Escalation}} </span>
    <span ng-show="isObjectEmpty(Escalation)"> None </span>
  </div>
</div></div>
</div>

<div class="container">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Initial FollowUp Mail</h3>
  </div>
  <div class="panel-body">

    <form class="form-horizontal" name="Initial_form" ng-submit="submit()">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">To</label>
    <div class="col-sm-5">
      <input name="To" type="email" ng-model="form.To" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="Cc" class="col-sm-4 control-label">Cc</label>
    <div class="col-sm-5">
      <input name="Cc" type="email" class="form-control" ng-model="form.Cc" id="Cc" placeholder="Cc">
    </div>
  </div>
   <div class="form-group">
    <label for="exampleInputFile" class="col-sm-4 control-label">File input</label>
    <div class="col-sm-5">
    <input name="file" type="file" class="form-control" id="exampleInputFile" file-model="myFile" multiple>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-3">
      <input type="submit" class="btn btn-primary" value="Send">
    </div>
  </div>
</form>

  </div>
</div>
</div>