<div style="margin-bottom:10px" class="row">
  <div class="col-md-2 col-sm-offset-1">
    <input type="text" class="form-control" placeholder="Enter MOTS ID here">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>



<div class="col-md-2 col-sm-offset-1">
<div class="panel panel-primary">
  <div class="panel-heading">MOTS ID</div>
  <div class="panel-body">
    26428
  </div>
</div>
</div>



<div class="col-md-2 ">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Application name</h3>
  </div>
  <div class="panel-body">
    CSI
  </div>
</div></div>

<div class="col-md-2 ">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Initial</h3>
  </div>
  <div class="panel-body">
    MC
  </div>
</div></div>

<div class="col-md-2 ">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Reminder Mail</h3>
  </div>
  <div class="panel-body">
    CSI
  </div>
</div></div>

<div class="col-md-2 ">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Escalation</h3>
  </div>
  <div class="panel-body">
    CSI
  </div>
</div></div>