<div style="margin-bottom:10px" class="row">
  <div class="col-md-2 col-sm-offset-1">
    <input type="text" class="form-control" placeholder="Enter MOTS ID here">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>


<div class="container">
<div class="col-md-2 col-sm-offset-1">
<div class="panel panel-primary">
  <div class="panel-heading">MOTS ID</div>
  <div class="panel-body">
    26428
  </div>
</div>
</div>



<div class="col-md-2 ">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Application name</h3>
  </div>
  <div class="panel-body">
    CSI
  </div>
</div></div>

<div class="col-md-2 ">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Initial</h3>
  </div>
  <div class="panel-body">
    MC
  </div>
</div></div>

<div class="col-md-2 ">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Reminder Mail</h3>
  </div>
  <div class="panel-body">
    CSI
  </div>
</div></div>

<div class="col-md-2 ">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Escalation</h3>
  </div>
  <div class="panel-body">
    CSI
  </div>
</div></div>
</div>

<div class="container">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Initial FollowUp Mail</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">To</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="Cc" class="col-sm-4 control-label">Cc</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" id="Cc" placeholder="Cc">
    </div>
  </div>
   <div class="form-group">
    <label for="exampleInputFile" class="col-sm-4 control-label">File input</label>
    <div class="col-sm-5">
    <input type="file" class="form-control" id="exampleInputFile">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-3">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </div>
</form>
  </div>
</div>
</div>