<div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>

<div class="modal-body" id="modal-body">
<div class="row">
  <label class="col-md-4 col-md-offset-1" for="CRNO">CRNO</label>
  <div class="col-md-6">
  <label class="form-control" id="CRNO">{{CRs_modal.CRNO}}</label>
  </div>
</div>

<div class="row">
  <label class="col-md-4 col-md-offset-1" for="MOTSID">MOTSID</label>
  <div class="col-md-6">
  <label class="form-control" id="MOTSID">{{CRs_modal.MOTSID}}</label>
  </div>
</div>

<div class="row">
  <label class="col-md-4 col-md-offset-1" for="App">Applications Affected</label>
  <div class="col-md-6">
  <label class="form-control" id="App">{{CRs_modal.App}}</label>
  </div>
</div>

<div class="row">
  <label class="col-md-4 col-md-offset-1" for="Env">Environment</label>
  <div class="col-md-6">
  <label class="form-control" id="Env">{{CRs_modal.selectedEnv}}</label>
  </div>
</div>

<div class="row">
  <label class="col-md-4 col-md-offset-1" for="Servers">Application servers</label>
  <div class="col-md-6">
  <label class="form-control">{{CRs_modal.servers | toString}}</label>
  </div>
</div>

<div class="row">
  <label class="col-md-4 col-md-offset-1" for="DB">DB servers</label>
  <div class="col-md-6">
  <label class="form-control">{{CRs_modal.db | toString}}</label>
  </div>
</div>

<div class="row">
  <label class="col-md-4 col-md-offset-1" for="start">Planned Start Date</label>
  <div class="col-md-6">
  <label class="form-control">{{CRs_modal.startdate | date:'medium'}}</label>
  </div>
</div>

<div class="row">
  <label class="col-md-4 col-md-offset-1" for="end">Planned End Date</label>
  <div class="col-md-6">
  <label class="form-control">{{CRs_modal.enddate | date:'medium'}}</label>
  </div>
</div>

<div class="row">
  <label class="col-md-4 col-md-offset-1" for="create">Date Created</label>
  <div class="col-md-6">
  <label class="form-control">06/23/2017 - 07:25 am</label>
  </div>
</div>

<div class="row">
  <label class="col-md-4 col-md-offset-1" for="Ack">App Acknowledgement</label>
  <div class="col-md-6">
  <label class="form-control" id="Ack">{{CRs_modal.AppVal}}</label>
  </div>
</div>

<div class="row">
  <label class="col-md-4 col-md-offset-1" for="Approvers">Approval Groups</label>
  <div class="col-md-6">
  <textarea class="form-control" id="Approvers" rows="1">{{CRs_modal.approvers}}
  </textarea>
  </div>
</div>

<div class="row">
  <label class="col-md-4 col-md-offset-1" for="contact">Contacts</label>
  <div class="col-md-6">
  <label class="form-control">{{CRs_modal.to}}</label>
  </div>
</div>
</div>


 <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
